@import "./fonts";

body {
    margin: 0;
    background-color: black;
    width: 100%;
}

main {
    height: 100vh;
}

//SECTION VISUEL
#bg {
    background-color: darkgray;
    padding: 3px;

    img {
        width: 100%;       
    }
}

#visuel {
    position: relative;
}

#joueurPokemon {
    position: absolute;
    top: 65%;
    left: 35%;
}

#joueurPv {
    width: 300px;
    height: 100px;
    background-color: black;
    position: absolute;
    bottom: 10%;
    right: 10%;
    border-radius: 10px;
    border: solid 2px darkgray;
    padding: 5px;
    p {
        font-family: pixel;
        color: lightgray;
        margin: 0;
    }
}

#adversairePokemon {
    position: absolute;
    top: 38%;
    right: 38%;
}

#adversairePv {
    width: 300px;
    height: 100px;
    background-color: black;
    position: absolute;
    top: 10%;
    left: 10%;
    border-radius: 10px;
    border: solid 2px darkgray;
    padding: 5px;
    p {
        font-family: pixel;
        color: lightgray;
        margin: 0;
    }
}

//SECTION TEXT
#combat {
    height: 160px;
    width: 100%;
    
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    
}

#continue {
    display: flex;
    align-items: center;
    padding-left: 10px;

    button {
        width: 150px;
        height: 50px;
        border-radius: 10px;
        border: solid 2px darkgray;

        font-family: pixel;
    }
}

#attaque {
    padding: 10px 10px 0 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;  

    button {
        border-radius: 10px;
        border: solid 2px darkgray;
        font-family: pixel;
    }
}